*.slo
*.lo
*.o
*.obj
*.gch
*.pch

*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app


build/
bin/
obj/
out/
Debug/
Release/
x64/
x86/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

.vs/
*.user
*.suo
*.db
*.opendb
*.VC.db

.vscode/

.idea/
cmake-build-*/

*~
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
